.footer-link {
  text-decoration: none;
  color: "#000" !important;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.github-link {
  color: #505050;
}

.linkedin-link {
  color: #1e4875;
}

.whatsapp-link {
  color: #2b7d2b;
}

.gmail-link {
  color: #d2414d;
}

.github-link:hover,
.linkedin-link:hover,
.whatsapp-link:hover,
.gmail-link:hover {
  color: #000;
}
